@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'helpme';
  src: url('./assets/fonts/HelpMe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

